html, body {
    background-color: #000; 
    color: white; 
    min-height: 100%;
    margin: 0; 
    padding: 0; 
}

.custom-bg {
    min-height: 180vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
}

#lis {
    color: rgb(209, 178, 1);
}

.container {
    margin-top: 2rem;
}

/* Tarjetas */
.card-style {
    background-color: transparent; 
    color: white; 
    border: 2px solid goldenrod;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(255, 215, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-style:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px rgba(255, 215, 0, 0.6);
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    border-bottom: 2px solid goldenrod;
    padding-bottom: 0.5rem;
    color: goldenrod; 
}

.card-description, 
.card-monto, 
.card-fecha {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color: #f0e68c; 
}

.card-img {
    width: 100%;
    height: 80%;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}

@media (max-width: 768px) {
    .card-style {
        padding: 1rem;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-description, 
    .card-monto, 
    .card-fecha {
        font-size: 1rem;
    }
}
